:root {
    /*Colors*/
    --background-color: #fff;
    --background-color-gradient: linear-gradient(90deg, #DDB4F6, #8DD0FC);
    --text-color-with-gradient: #fff;
    --text-color-with-gradient-hover: #ffb2f2;
}

* {
    /*Reset CSS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Microsoft YaHei', sans-serif;
}

body {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color);

    overflow-x: hidden;

    .bloc1 {
        height: 100dvh;
        width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: var(--background-color-gradient);

        overflow: hidden;

        header {
            height: 10dvh;
            width: 100vw;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            overflow: hidden;

            .logo {
                height: 100%;
                width: 25vw;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                overflow: hidden;
            }

            .nav {
                height: 100%;
                width: 50vw;

                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                overflow: hidden;

                a {
                    text-decoration: none;
                    color: var(--text-color-with-gradient);
                    font-size: 1.3em;
                    font-weight: bold;
                    transition: ease 0.5s;

                    &:hover { 
                        color: var(--text-color-with-gradient-hover);
                        cursor: pointer;
                    }
                }
            }

            .account {
                height: 100%;
                width: 25vw;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                overflow: hidden;

                .button-container {
                    width: 45%;
                    height: 55%;
                
                    display: flex;
                    justify-content: center;
                    align-items: center;
                
                    border: none;
                    border-radius: calc(0.5 * 0.55 * 0.1 * 100dvh);
                
                    background-color: var(--background-color);
                
                    transition: ease 0.5s;
                    overflow: hidden;

                    button {
                        height: 100%;
                        width: 100%;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        border: none;
                        background: none;
                        border-radius: inherit;

                        color: transparent;
                        background-image: var(--background-color-gradient);
                        background-clip: text;
                        -webkit-background-clip: text;

                        font-size: 1.1em;

                        transition: ease 0.5s;
                    }

                    &:hover {
                        box-shadow: 0 0.2em 0.2em 0 rgba(0, 0, 0, 0.25);
                        
                        button {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .contenu {
            height: 90dvh;
            width: 100vw;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            overflow: hidden;
        }
    }

    .bloc2 {
        height: 100dvh;
        width: 100vw;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background: var(--background-color);

        overflow: hidden;
    }

    footer {
        height: 25vh;
        width: 100vw;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background: var(--background-color-gradient);

        overflow: hidden;
    }
}